@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "LatoBold";
    src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "LatoRegular";
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "LatoThin";
    src: url("assets/fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: "LatoBlack";
    src: url("assets/fonts/Lato-Black.ttf");
}

* {
    font-family: "Lato";
}

.header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    display: flex;
}

.logo-container {
    width: 200px;
    height: 89px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-family: "LatoRegular";
}

.topnav {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 40px;
    margin-top: 8px;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

.topnav a:not(:first-child):before {
    content: "\00b7";
    margin-left: 13px;
    margin-right: 13px;
    color: #696666;
}

.topnav a:hover {
    color: #f06c64;;
}
  
.topnav a.active {
    color: #f06c64;
  }

.asterix {
    color: #f06c64;
}

.bottom-header-line {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.slider {
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
}

.slider-bottom {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

.services {
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
}

.services .description {
    padding: 40px;
    padding-top: 68px;
    padding-bottom: 26px;
    color: #767e9e;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.description .title {
    font-size: 30px;
    line-height: 0px;
    color: #666d89;
    font-family: "LatoBold";
}

.services .grid-container {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 320px 320px 320px;
    grid-row-gap: 3px;
}

.service {
    display: flex;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
} 

.service .title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    font-family: "LatoBold";
}

.service .explanation {
    margin-left: 20px;
    margin-right: 20px;
}

.details {
    font-family: "LatoBold";
    text-align: justify;
    margin-top: 6px;
}

.services-bottom-line {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

.icon {
    display: block;
    border: 2px solid;
    border-radius: 50%;
    height: 56px;
    width: 56px;
}

.pen {
    background-image: url(/assets/images/pen.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-left: 11px;
    margin-top: 11px;
    margin-right: 10px;
}

.bubble {
    background-image: url(/assets/images/bubble.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-left: 11px;
    margin-top: 13px;
    margin-right: 10px;
}
.bulb {
    background-image: url(/assets/images/bulb.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-left: 15px;
    margin-top: 11px;
    margin-right: 10px;
}

.heart {
    background-image: url(/assets/images/heart.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-left: 11px;
    margin-top: 12px;
    margin-right: 10px;
}

.phone {
    background-image: url(/assets/images/phone.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-left: 15px;
    margin-top: 11px;
    margin-right: 10px;
}

.star {
    background-image: url(/assets/images/star.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin-left: 11px;
    margin-top: 11px;
    margin-right: 10px;
}

.chev-left {
    background-image: url(/assets/images/chev.png);
    position: absolute;
    width: 16px;
    height: 27px;
    margin-top: 281px;
    margin-left: 42px;
}

.chev-right {
    background-image: url(/assets/images/chev.png);
    position: absolute;
    transform: rotate(180deg);
    width: 16px;
    height: 27px;
    margin-top: 281px;
    margin-left: 964px;
}

.vertical-phone-container {
    position: absolute;
    margin-left: 111px;
    margin-top: 53px;
}

.vertical-phone-shadow {
    background-image: url(/assets/images/Shadow.png);
    position: absolute;
    width: 240px;
    height: 483px;
    z-index: 1;
}

.vertical-phone-base {
    position: absolute;
    border-radius: 27px;
    background-color: #f2f2f2;
    width: 215px;
    height: 458px;
    z-index: 2;
}

.phone-screen {
    position: absolute;
    width: 189px;
    height: 332px;
    background-color: black;
    z-index: 1;
    margin-left: 11px;
    margin-top: 63px;
    border: 3px solid #acacac;
    border-radius: 1%;
    overflow: hidden;
    z-index: 3;
}

.vertical-screen-background {
    background-image: url(/assets/images/Layer6.png);
    width: 580px;
    height: 580px;
    margin-top: -135px;
    margin-left: -13px;
}

.phone-button-circle {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    margin-top: 408px;
    margin-left: 87px;
    z-index: 4;
}

.phone-button-square {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #fafafa;
    margin-left: 13px;
    margin-top: 13px;
    border: 2px solid #acacac;
    z-index: 5;
}

.phone-red-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    border: 2px solid #d8d8d8;
    background-color: #eb5055;
    margin-left: 104px;
    margin-top: 17px;
    z-index: 6;
}

.phone-speaker {
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    margin-left: 91px;
    margin-top: 36px;
    z-index: 7;
}

.horizontal-phone-container {
    position: absolute;
    margin-left: 882px;
    margin-top: 173px;
    transform: rotate(90deg);
}

.horizontal-screen-background {
    background-image: url(/assets/images/Layer5.png);
    width: 580px;
    height: 580px;
    margin-top: -123px;
    margin-left: -118px;
    transform: rotate(-90deg);
}

.horizontal-phone-shadow {
    background-image: url(/assets/images/ShadowHorizontal.png);
    position: absolute;
    width: 483px;
    height: 240px;
    z-index: 1;
    transform: rotate(90deg);
    margin-left: -122px;
    margin-top: 96px;
}